{%extends ../../../common/views/layout.html%}
{%block style%}
{% set user = usuario %}
<style>
    .accion{ cursor:pointer }
    .error-own{
        display: block !important;
        height: 0px !important;
        padding: 0px !important;
        margin: 0px !important;
    }

    .green-own{
        background-color: #95c11f;
    }

    .titulo-verde-own{
        color: #044f17 !important;
    }

    .button-green-own{
        background-color: #0B1D50;

    }

    .blanco{
        color: white !important;

    }
    .title-rg-own{
        font-weight: bolder !important;
        color: #044f17 !important;
    }

</style>
<script src="resources/js/functions.js"></script>
<script>
    main_route = '/alimentos'
</script>

{%end%}
{%block content%}


{% if 'alimento_insert' in privileges or 'alimento_update' in privileges %}
{% include form.html %}
{% end %}

<div class="header"><h2 class="title-rg-own">ALIMENTOS</h2></div>
<div class="body">
    <div class="row clearfix">
        <div class="">
        {% if 'alimento_insert' in privileges %}
           <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo" style="margin: 30px;">
                <i class="material-icons blanco">add</i>
           </button>
        {% end %}
        </div>
      <div id="rproc-loader" class="loader-wrapper" style="display: none">
            <div class="loader loader-own">
                <div class="preloader preloader-own">
                    <div class="spinner-layer pl-teal">
                        <div class="circle-clipper left"><div class="circle"></div></div>
                        <div class="circle-clipper right"><div class="circle"></div></div>
                    </div>
                </div>
            </div>
            <p class="text-center inf-own">Cargando...</p>
        </div>

        {% if 'alimento_query' in privileges %}
    </div>
    <div id="tabla" class="row">
    <table id="data_table" class="table table-bordered table-striped table-hover dataTable" style="margin-bottom: 0px!important; ">
                <thead>
                    <tr>
                        <th class="order_by_th" data-name="name" style="background-color: #F7AD0C">Id </th>
                        <th class="order_by_th" data-name="name" style="background-color: #F7AD0C">Nombre </th>
                        <th class="actions_header" style="background-color: #F7AD0C">Acciones </th>
                    </tr>
                </thead>
                <tbody id="tbody-mes">
                </tbody>
            </table>
    </div>
    {% else %}
    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
    {% end %}
</div>
{%end%}
{% block script %}
<script src="resources/js/jquery.toast.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="resources/plugins/jquery-validation/jquery.validate.js"></script>
<script src="resources/plugins/jquery-validation/localization/messages_es.js"></script>
<script src="resources/js/validations.js"></script>
    <script>
        $(document).ready( function () {
            cargar_tabla();
    });


     {% if 'alimento_insert' in privileges %}
        $('#new').click(function () {
            $('#id').val('')
            $('#nombre').val('')

            {#clean_form()#}
            verif_inputs()
            $('#id_div').hide()
            $('#insert').show()
            $('#pass').show()
            $('#update').hide()
            $('#form').modal('show')
        })
        $('#insert').on('click', function (e) {
        $.Toast.showToast({title: 'Cargando...',duration: null, icon:'', image: ''});
        if(!validationInputSelects("form")) {
            objeto = JSON.stringify({
                'nombre': $('#nombre').val(),
                });
            ruta = "{{privileges['alimento_insert'].ruta}}";
            $.ajax({
                    url: ruta,
                    type: "post",
                    data: {_xsrf: getCookie("_xsrf"), object: objeto},
                    async: true,
                }).done(function (response) {
                response=JSON.parse(response);
                if ("message" in response && response.message != '') {
                    if (response.success) {
                        showMessage(response.message, "success", "ok")
                        $('#form').modal('hide')
                         $.Toast.hideToast();
                        window.location = main_route
                    } else {
                        showMessage(response.message, "danger", "remove")
                         $.Toast.hideToast();
                    }
                }
            })

         }else {
            swal(
                    'Error de datos.',
                    'Hay campos vacios por favor verifique sus datos.',
                    'error'
            )
        }
        });
    {% end %}

    {% if 'alimento_update' in privileges %}
        function edit(elemento) {
            obj = JSON.stringify({
            'id': parseInt(JSON.parse($(elemento).attr('data-json')))
            })
            ajax_call_get("{{privileges['alimento_update'].ruta}}",{
                _xsrf: getCookie("_xsrf"),
                object: obj
            },function(response){
                console.log(response)
                var self = response;
                $('#id').val(self.id)
                $('#nombre').val(self.nombre)
                clean_form()
            verif_inputs()
            $('#id_div').hide()
            $('#insert').hide()
            $('#update').show()
            $('#pass').hide()
            $('#form').modal('show')
            })
    }

    $('#update').on('click', function (e) {
            objeto = JSON.stringify({
                'id': parseInt($('#id').val()),
                'nombre': $('#nombre').val(),
            });
            ruta = "{{privileges['alimento_update'].ruta}}";
            $.ajax({
                url: ruta,
                type: "post",
                data: {_xsrf: getCookie("_xsrf"), object: objeto},
                async: true,
            }).done(function (response) {
                response=JSON.parse(response);
                if ("message" in response && response.message != '') {
                    if (response.success) {
                        showMessage(response.message, "success", "ok")
                        $('#form').modal('hide')
                        window.location = main_route
                    } else {
                        showMessage(response.message, "danger", "remove")
                    }
                }
                if (callback != null) {
                    callback(response)
                }
            })

        });

        {% end %}

         data_tables()
    function data_tables(){

    $("#data_table").DataTable({
            language : {"url": "/resources/js/spanish.json"},
                "pageLength": 100,
            "order": [[ 0, "desc" ]],
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                }]
        });
    }

     {% if 'alimento_delete' in privileges %}
    function delet(e){

        var verificar = false
        idu = 0
            id = parseInt(JSON.parse($(e).attr('data-id')))
            cb_delete = this
            b = $(this).prop('checked')
            idu = $(this).prop('id')
            if(!b){
                cb_title = "¿Está seguro de que desea dar de baja al Usuario?"
            } else {
                cb_title ="¿Está seguro de que desea dar de alta al Usuario?"
            }
            swal({
                text: cb_title,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                $.Toast.showToast({title: 'Cargando...',duration: null, icon:'', image: ''});
                verificar = !$(cb_delete).is(':checked')
                $(cb_delete).prop('checked', !$(cb_delete).is(':checked'))
                if(b)
                    var a = $(cb_delete).parent().prop('title', 'Activo')
                else
                    var a = $(cb_delete).parent().prop('title', 'Inhabilitado')

                console.log(!$(cb_delete).is('checked'))
                objeto =JSON.stringify({
                   id: id,
                   enabled: $(cb_delete).is(':checked'),
                })
                ajax_call(
                    "{{privileges['alimento_delete'].ruta}}",
                    {object: objeto,_xsrf: getCookie("_xsrf")},
                    null,
                    function (resp) {
                        let self = JSON.parse(resp)
                        if(self.success){
                            $('#'+idu).prop('checked', verificar)
                        }else{
                            $('#'+idu).prop('checked', false)
                            $('#'+idu).parent().prop('title', 'Inhabilitado')
                        }
                    }
                )
                $.Toast.hideToast();
                window.location = main_route
           })
        }

     function eliminar(elemento) {
            swal({
                text: "Desea eliminar este usuario",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                $.Toast.showToast({title: 'Cargando...',duration: null, icon:'', image: ''});
                objeto =JSON.stringify({
                   id: JSON.parse($(elemento).attr('data-json')),
                })
                ajax_call(
                    'alimento_eliminar',
                    {object: objeto,_xsrf: getCookie("_xsrf")},
                    null,
                    function (resp) {
                        let self = JSON.parse(resp);
                        cargar_tabla(1);
                        }
                )
                $.Toast.hideToast();

           })
        }
        {% end %}
    function cargar_tabla(){
        $.Toast.showToast({title: 'Cargando track...',duration: null, icon:'', image: ''});
        const tabla = document.getElementById("tabla");
        let body = JSON.stringify({
        });
        dag = new FormData();
        dag.append('object', body);
        dag.append('_xsrf', getCookie("_xsrf"))
          $.ajax({
            url: "/alimento_listar",
            type: "post",
            data: dag,
            contentType: false,
            processData: false,
        }).done((response) => {
           try {
              $('#data_table').DataTable().destroy()
                table.destroy()
                 $('#data_table').empty();
            }catch{
                console.log("error")
            }
            //$('#tbody-mes').DataTable().destroy();
            $('#tbody-mes').empty();
            res = JSON.parse(response);

            res.response.forEach(op => {
                var  estado = 0
                    if(op.enabled){
                        estado ="checked"
                    }

                    $('#tbody-mes').append(`
                        <tr>
                            <th>`+op.id+`</th>
                            <td >`+op.nombre+`</td>
                            <td>
                            <button id="edit" onClick="edit(this)" data-json=`+op.id+` type="button" class="btn bg-indigo waves-effect waves-light" title="Editar"><i class="material-icons blanco">create</i></button>
                            <button id="eliminar" onClick="eliminar(this)" data-json=`+op.id+` type="button" class="btn bg-red" title="Eliminar"><i class="material-icons blanco">delete</i></button>
                            </td>
                       </tr>
                    `)
                })
                data_tables()
              $.Toast.hideToast()
          })
    }
    </script>

{%end%}
